body {
  background-image: url(https://i.postimg.cc/GhZT1N1M/4.jpg);
  background-size: 100% 100%;
}
::-webkit-scrollbar {
  color: transparent;
  width: 0.1px;
}

.bgimg {
  background-image: url(https://i.postimg.cc/jq3JM23Y/signlogo2.jpg);
  background-size: 100% 100%;
}
.white {
  color: whitesmoke;
}

section {
  position: relative;
}

section img {
  position: absolute;
  top: 15%;
  left: 13%;
  width: 35%;
  border-radius: 18px;
  box-shadow: 6px 8px 13px black;
}

@media (max-width: 900px) {
  section img {
    display: none;
  }
}
@media (min-width: 1500px) {
  section img {
    height: 50%;
    width: 22%;
  }
}
