<!DOCTYPE html>
<html lang="en">
{{>header}}

<style>
    
    
      ::-webkit-scrollbar { color: transparent; width: 0.1px; }
  
  

    .lefttext ul li {
        text-align: initial;
        list-style: disc;
    }

    .testweight {
        font-size: 1.2rem;
        font-family: inherit;
        font-weight: 700;
        color: blue;
    }

    .p-h1 {
        width: 200%;
    }

    .boltext {
        color: yellow;
    }

  

    @media (max-width:800px) {
        .p-h1 {
            width: 100%;
        }

    }
</style>

<body>
    {{>navbar}}
    <section class="text-gray-400 bg-gray-700 body-font">
        

        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <div class="p-h1">

                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                        શાળા નો ઇતિહાસ
                        <br class="hidden lg:inline-block">
                    </h1>
                </div>



                <div class="mb-8 lefttext">
                    <ul>
                        <li class="sm:text-2xl text-white font-medium">શાળાનું નામ : બડોદર પ્રાથમિક શાળા </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">સ્થાપના : ૫-૧૧-૧૯૧૧</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">શાળા ડાયસ કોડ : ૨૪૧૨૦૮૦૨૫૦૧</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">જૂથ સંસાધન કેન્દ્ર નું નામ : વસાવાડી</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">જૂથ સંસાધન કેન્દ્રથી શાળાનું અંતર : 0૬ k.m.
                        </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">તાલુકા મુખ્ય મથકથી શાળાનું અંતર : 0૮ k.m. </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">શાળા નો પ્રકાર (કુમાર / કન્યા / મિશ્ર) : મિશ્ર
                        </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">હાલ કેટલા ધોરણ છે : ૧ થી ૮ </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">શાળામાં પ્રજ્ઞા વર્ગ છે : હા </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">રજીસ્ટર સંખ્યા (ધોરણ-૨ થી ૮) : કુમાર = <u>૧૩૨</u>
                            , કન્યા = <u>૮2</u> , કુલ : <U>214</U>
                        </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">શાળામાં શિક્ષકોની સંખ્યા : ૦૯</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">શાળામાં રૂમ ની સંખ્યા : 8</li>


                    </ul>
                </div>

                <div class="flex justify-center">

                </div>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">


            
                <img class="object-cover object-center rounded" alt="hero" height="700" width="600"
                    src="https://i.postimg.cc/kG3BKRXx/img-1.jpg">
            </div>
        </div>


            </div>
        </div>






        <div class="container mx-auto flex px-5 py-24 md:flex-row  flex-col items-center">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <div class="p-h1">

                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                        History of the school
                        <br class="hidden lg:inline-block">
                    </h1>
                </div>
                <div class="mb-8 lefttext">
                    <ul>
                        <li><b class="sm:text-2xl text-white font-medium"> school name </b> = <i
                                class="sm:text-2xl text-white font-medium"> badodar primary school</i> </li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">Establishment</b> = <i
                                class="sm:text-2xl text-white font-medium">5-11-1911 </i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">School Dias Code </b>= <i
                                class="sm:text-2xl text-white font-medium">24120802501</i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">Name of Group Resource Center</b> = <i
                                class="sm:text-2xl text-white font-medium">Vasavadi</i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">Distance from group resource center to
                                school</b> = <i class="sm:text-2xl text-white font-medium">06 k.m. </i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">Distance of the school from the taluka
                                headquarters</b> = <i class="sm:text-2xl text-white font-medium">0૮ k.m. </i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">Type of school (boys / girls / mixed)</b> = <i
                                class="sm:text-2xl text-white font-medium">mixed</i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">What is the current standard</b> = <i
                                class="sm:text-2xl text-white font-medium">1 to 8 </i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">The school has a Pragya class ? =  </b> <i
                                class="sm:text-2xl text-white font-medium">yes </i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">Number of registers (Std-2 to 8) = </b> <i
                                class="sm:text-2xl text-white font-medium"> Boys 132 , Girls 82 , Total: 214 </i> </li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">Number of teachers in the school</b> = <i
                                class="sm:text-2xl text-white font-medium">08</i></li>
                        <br>
                        <li><b class="sm:text-2xl text-white font-medium">Number of rooms</b> = <i
                                class="sm:text-2xl text-white font-medium">08</i></li>
                    </ul>
                </div>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                    <br class="hidden lg:inline-block">
                </h1>
                <img class="object-cover object-center rounded" alt="hero" src="https://i.postimg.cc/zBRyyF5z/img-7.jpg">
            </div>
        </div>


        <div class="container mx-auto flex px-5 py-24 md:flex-row  flex-col items-center">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <div class="p-h1">

                    <h1 class=" title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                        About Badodar
                        <br class="hidden lg:inline-block">
                    </h1>
                </div>
                <div class="mb-8 lefttext">
                    <p class="testjucti text-white font-medium">Badodar is a Village in Keshod Taluka in Junagadh
                        District of Gujarat State, India. It is located 33 KM towards South from District head quarters
                        Junagadh. 7 KM from . 376 KM from State capital Gandhinagar ,
                        <br>
                        <br>

                        Badodar Pin code is 362229 and postal head office is Keshod Akshaygadh . <br>

                        Magharwada ( 3 KM ) , Chitri ( 4 KM ) , Raningpara ( 4 KM ) , Agatrai ( 4 KM ) , Dhrabavad ( 5
                        KM )
                        are the nearby Villages to Badodar. Badodar is surrounded by Vanthali Taluka towards North ,
                        Mendarda Taluka towards East , Manavadar Taluka towards North , Mangrol Taluka towards west .
                        <br>
                        <br>
                        Keshod , Manavadar , Junagadh , Mangrol are the near by Cities to Badodar.
                        <br>
                        <br>

                        <b> Badodar 2011 Census Details :</b> <br>
                        Badodar Local Language is Gujarati. Badodar Village Total population is 2243 and number of
                        houses
                        are 469. Female Population is 47.9%. Village literacy rate is 67.7% and the Female Literacy rate
                        is
                        28.6%.
                    </p>

                </div>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                    <br class="hidden lg:inline-block">
                </h1>

                <img class="object-cover object-center rounded" alt="hero" src="https://i.postimg.cc/9fk4XN6g/img-6.jpg">
            </div>
        </div>




        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <div class="p-h1">

                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                        બડોદર વિશે
                        <br class="hidden lg:inline-block">
                    </h1>
                </div>



                <div class="mb-8 lefttext">
                    <ul>
                        <li class="sm:text-2xl text-white font-medium">ગામ નું નામ : બડોદર </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">તાલુકો : કેશોદ</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">જિલ્લો : જૂનાગઢ</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">ગામ ની વસ્તી : પુરુષ = <u>૧૧૬૩</u> , સ્ત્રી =
                            <u>૧૦૭૫</u> , કુલ = ૨૨૪૩</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">ગામનો સાક્ષરતા દર : ૭૪.૫૬%</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">ગામ ની સંસ્થાઓ : બી. યુ. વાળા વિનય મંદિર </li>

                        <br>
                        <li class="sm:text-2xl text-white font-medium">વાહન વ્યહવાર ની સુવિધા : રેલવે , બસ </li>
                        <br>

                        <li class="sm:text-2xl text-white font-medium">ઉચ્ચ સિક્ષણની સંસ્થાઓ : માધ્યમિક - ઉચ્ચમાધ્યમિક
                            શાળા </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">શિક્ષણિક સંસ્થાઓ : બી. યુ. વાળા વિનય મંદિર </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium"> બાલ મંદિર સંખ્યા : ૦૩</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">સરકારી કચેરીઓ ની વિગત : ગ્રા.પં.ક</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">ગામમાં મળી આવતી વિવિધ સુવિધા : શૈ. સંસ્થા ,
                            આગાખાન ટ્રસ્ટ , દવાખાનુ </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">ગામના લોકોનો મુખ્ય વ્યવશાય : ખેતી</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">ખેતીવાડીના પાકો : મગફળી , ઘઉં , કપાસ</li>

                    </ul>
                </div>


            </div>
            <div  class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">


                <img class="object-cover object-center rounded" alt="hero" 
                    src="https://i.postimg.cc/MKYvfTkQ/img-2.jpg">

            </div>
        </div>



   












        <div class="container mx-auto flex px-5 py-24 md:flex-row  flex-col items-center">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <div class="p-h1">

                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                        About badodar
                        <br class="hidden lg:inline-block">
                    </h1>
                </div>
                <div class="mb-8 lefttext">
                     <ul>
                        <li class="sm:text-2xl text-white font-medium">Name of the village: badodar  </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">Taluka: Keshod</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">District: Junagadh</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">Population of the village: Male = 1163, Female = 1074, Total = 2243 </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">Transportation facilities: Railways, buses</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">Institutions of the village: b.u. Vala Vinay Mandir</li>
                       
                     
                        <br>
                        <li class="sm:text-2xl text-white font-medium">Transportation facilities: Railways, buses </li>
                        <br>

                        <li class="sm:text-2xl text-white font-medium">Institutions of Higher Education: Secondary - Higher Secondary School </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">Educational Institutions: b.u. Vala Vinay Mandir </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">  Children's temple number: 03</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">Details of Government Offices: G.P.K.</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">Various facilities found in the village: Education  Organization, Aga Khan Trust, dispensary </li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">The main occupation of the villagers is farming</li>
                        <br>
                        <li class="sm:text-2xl text-white font-medium">main Agricultural crops : groundnut, wheat, cotton</li>

                    </ul>

                </div>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                    <br class="hidden lg:inline-block">
                </h1>


                <img class="object-cover object-center rounded" alt="hero" src="https://i.postimg.cc/3JhkwGqh/img-3.jpg">


                <img class="object-cover object-center rounded" alt="hero" src="old images/img-3.jpg">
                
            </div>
        </div>





    </section>



    {{>script}}
    {{>footer}}
</body>

</html>
