<!DOCTYPE html>
<html lang="en">
{{>header}}
<link rel="stylesheet" href="/stylesheet/contect.css">

<style>
    b{

    }
</style>
<body class="body">
    {{>navbar}}



    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">

                <div class="p-4 wid md:w-1/3 ">
                    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                        <div
                            class="w-16 hoverimg h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                            <img
                                src="https://img.icons8.com/external-filled-outline-satawat-anukul/64/000000/external-communication-communication-filled-outline-filled-outline-satawat-anukul-30.png" />
                        </div>

                        <div class="p-6">
                            <h1 style=" font-size: 1.3rem;color: white;" class="h1 tracking-widest    text-gray-400 mb-3"> Contect number
                            </h1>
                            
                            <p class="leading-relaxed mb-3" style="color: whitesmoke; font-weight: 900;">Number :
                                9601095201</p>
                        </div>
                    </div>
                </div>



                <div class=" flex-wrap p-4 wid md:w-1/3 ">
                    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                        <div
                            class="w-16 hoverimg h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                            <img
                                src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-email-notifications-justicon-lineal-color-justicon.png" />
                        </div>

                        <div class="p-6">
                            <h1 style="color: white;" class="h1 tracking-widest    text-gray-400 mb-3"> Our Email
                            </h1>

                            <p class="wrp  leading-relaxed mb-3"
                                style="color: whitesmoke; font-weight: 900;  word-wrap: break-word;">
                               Email : badodar.keshod@gmail.com</p>

                        </div>
                    </div>
                </div>


                <div class="p-4 wid md:w-1/3">
                    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                        <div
                            class="w-16 hoverimg h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                            <img src="https://img.icons8.com/doodle/48/000000/address.png" />
                        </div>

                        <div class="p-6">


                            <h1 style="color: white;" class="h1 tracking-widest    text-gray-400 mb-3"> Address
                            </h1>

                            <p class="leading-relaxed mb-3" style="color: whitesmoke; font-weight: 900;">Address :
                                <br>
                                <small>At.</small> <b>badodar</b> <br>
                                <small>Ta.</small> <b>keshod</b> <br>
                                <small>Dist.</small> <b>junagadh</b> <br>
                                <small>Pin.</small> <b>362220</b>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="p-4 wid md:w-1/3">
                    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                        <div
                            class="w-16 hoverimg h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                            <img
                                src="https://img.icons8.com/external-filled-outline-satawat-anukul/64/000000/external-communication-communication-filled-outline-filled-outline-satawat-anukul-30.png" />
                        </div>
                        <div class="p-6">
                           
                            <h1 style="color: white;" class="h1 tracking-widest    text-gray-400 mb-3"> Toll free number
                            </h1>


                            <p class="leading-relaxed mb-3" style="color: whitesmoke; font-weight: 900;"> Toll free number : 1800-233-3149</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {{>footer}}
    {{>script}}
</body>

</html>