<html lang="en">
{{> header}}

<link rel="icon" href="/img/linklogo.png" type="image/x-icon" />
<style>
      ::-webkit-scrollbar { color: transparent; width: 0.1px; }

  .body1 {
    background-color: #3c3f46a3;
  }
</style>

<body class="body1">

  <marquee bgcolor="cornflowerblue" style="border:1px solid black" behavior="scrool" direction="right"> SHREE BADODAR
    PRIMARY SCHOOL</marquee>

  {{>navbar}}



    <div class="container d-flex justify-content-center align-items-center">
      <h1 class="h1" style="color: white;"> <span id="text"></span></h1>
    </div>


      <section class="text-gray-400 bg-gray-700 body-font mb-5  body-font">

        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center justify-content-center">

            <div class="container px-5 py-24 mx-auto">
              <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                  class="inline-block w-8 h-8 text-gray-500 mb-8" viewBox="0 0 975.036 975.036">
                  <path
                    d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                  </path>
                </svg>
                <p class="leading-relaxed text-lg">“Let us remember: One book, one pen, one child, and one teacher can
                  change the world.” </p>
                <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                <h2 class="text-white font-medium title-font tracking-wider text-sm">–— Malala Yousafzai
                </h2>

              </div>
            </div>



            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">

              <img style="border-radius: 20px;" class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://i.postimg.cc/zvvHJYBQ/linklogo.png">    

          

              <div class="text-center lg:w-2/3 w-full">
                <h2 class="title-font sm:text-3xl text-2xl mb-4 font-medium text-white">
                  <p class=" ">
                ॐ असतो मा सद्गमय ।<br>
                तमसो मा ज्योतिर्गमय । <br>
                मृत्योर्मा अमृतं गमय । <br>
               ॐ शान्तिः शान्तिः शान्तिः ॥
              </p>
                </h2>


              </div>
            </div>

            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
              <img style="border-radius: 20px;" class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://wallpaperaccess.com/full/3246997.jpg">    
              <div class="text-center lg:w-2/3 w-full">
                <h2 class="title-font sm:text-2xl text-1xl mb-4 font-medium text-white">
                  <p class=" ">
              
               या कुन्देन्दुतुषारहारधवला या शुभ्रवस्त्रावृता <br> या वीणावरदण्डमण्डितकरा या श्वेतपद्मासना । <br> या ब्रह्माच्युतशंकरप्रभृतिभिर्देवैः सदा पूजिता <br> सा मां पातु सरस्वती भगवती निःशेषजाड्यापहा ॥  
              </p>
                </h2>
                {{!-- <p class="leading-relaxed mb-8">–— Anonymous</p> --}}
              </div>
            </div>


            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
              <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://i.postimg.cc/bwCgN4Kb/tho-1.png">

              <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">“Respect your parents. they passed  school without <b style="color: red;">google</b> ”</h1>
                <p class="leading-relaxed mb-8">–— Anonymous</p>
              </div>
            </div>

            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
              <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero"

                src="https://i.postimg.cc/hPnpCLLJ/ab-1.png">


              <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">“<b
                    style="color: red;">EVERY</b>
                  pain gives a lesson and <b style="color: red;">EVERY</b> lesson changes a person” </h1>
                <p class="leading-relaxed mb-8">–— A.P.J.Abdul kalam</p>

              </div>
            </div>

            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
              <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://i.postimg.cc/k4tfHwYS/ab-2.png">

              <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">“What <b
                    style="color: red;">hurts
                  </b>you <b style="color: red;">today, </b>makes you stronger <b style="color: red;">tomorrow.”</b>
                </h1>
                <p class="leading-relaxed mb-8">–— A.P.J.Abdul kalam</p>
              </div>
            </div>

            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
              <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero"

                src="https://i.postimg.cc/Zqnf8JrV/ab-3.png">
              <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
                  <b style="color: red;">“CONFIDENCE </b>doesn't come when you have all the answers. But it comes when
                  you
                  are ready to face all the questions”
                </h1>
                <p class="leading-relaxed mb-8">–— A.P.J.Abdul kalam</p>

              </div>
            </div>

            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
              <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero"

                src="https://i.postimg.cc/5trspDg1/bil-1.png">

    
                
              <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">“I will always choose <b
                    style="color: red;">a Lazy person</b> to do a difficult job , because, he will find <i>an esay way
                    to do
                    it.</i> ”</h1>
                <p class="leading-relaxed mb-8">–— BILL GATES</p>
              </div>
            </div>

            <div class="mb-3   d-flex justify-content-center align-items-center">
              <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                <div class="flex-grow">
                  <h2 class="text-white title-font font-medium">“ Education is not preparation for life; education is
                    life
                    itself.
                    ” </h2>
                  <p class="text-gray-400">– John Dewey.</p>
                </div>
              </div>
            </div>



          </div>
        </div>
      </section>


     <script>
      var typed = new Typed("#text", {
        strings: ["education ",
          "Maths",
          "English",
          "history",
          "Gujrati",
          "Science",
          "Hindi",
          "instruction",
          "schooling",
          "Drawing",
          "teaching",
          "training",
          "tuition",],
        typeSpeed: 150,
        backSpeed: 100,
        loop: true,
      });
    </script>

    <script>
      AOS.init();
    </script>



    {{>footer}}
    {{>script}}
</body>
