<!DOCTYPE html>
<html lang="en">
{{>header}}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Source+Code+Pro&display=swap');
  .body {
    background-color: #302b2b;
    font-family: 'Baloo Bhai 2', cursive;
  }

      ::-webkit-scrollbar { color: transparent; width: 0.1px; }

  ul li {
    text-align: initial;
  }

  .fontt{
    font-family: 'Righteous', cursive;
  }
</style>

<body class="body">
  {{>navbar}}



  <div class="container">

    <section class="text-black-900  body-font">
      <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <h1 class="body-font text-gray-100 mb-3 h1">principal</h1>
        <img style="border-radius:15px;" class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center  " alt="hero"
          src="https://i.postimg.cc/gks10sF3/principal.jpg">
        <div class="text-center lg:w-2/3 w-full">
         
          <p class="leading-relaxed mb-8">
          <ul class="text-gray-100">
            <li > નામ : <i class=""> સુરેશ કુમાર મેણંદભાઈ</i></li>
            <li > હોદો : <i class=""> આચાર્ય</i></li>
            <li > લાયકાત : <i class=""> B.SC , B.ED</i></li>
            <li > વતન : <i class="">કેશોદ જૂનાગઢ</i></li>
            <li > જન્મ તા: <i class="">01-05-48 </i></li>
            <li > kha , da,ta : <i class=""> 15-12-04</i></li>
            <li > sa , da , ta : <i class="">30-12-14 </i></li>
            <li > ધોરણ : <i class="">તાસ </i></li>
          </ul>
          </p>

          <div class="flex justify-center">
            <a href="">
              <button
                class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Follow</button>
            </a>
          </div>
          
        </div>
      </div>

    </section>




    {{!-- teacher --}}






    <section class="text-gray-100 body-font">
      <div class="container px-5 py-24 mx-auto">


        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">

          <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border rounded  mb-2">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class="object- object-center h-full w-full" src="https://i.postimg.cc/wBZCpBKP/userlogo.png">
            </div>
            <p class="leading-relaxed mb-8">
            <ul class="text-gray-100">
              <li > નામ : <i class="">રંજનબેન ગોરધનભાઇ કરડાણી</i></li>
              <li > હોદો :<i class=""> આ.શિ.</i></li>
              <li > લાયકાત : <i class="">P.T.C</i></li>
              <li > વતન : <i class="">માળીયા જૂનાગઢ</i></li>
              <li > જન્મ તા: <i class="">26-07-68</i></li>
              <li > kha , dat , ta : <i class="">14-03-89</i></li>
              <li > sa , da , ta :<i class=""> 18-11-08 </i></li>
              <li > ધોરણ :  <i class=""> 1/2 પ્રજ્ઞા</i></li>
            </ul>
            </p>
          </div>



          <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border rounded  mb-2">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class=" object-center h-full w-full" src="https://i.postimg.cc/wBZCpBKP/userlogo.png">
            </div>
            <p class="leading-relaxed mb-8">
            <ul class="text-gray-100">
              <li > નામ : <i class="">નયનાબેન બાબુભાઇ રોજીવાડીયા</i> </li>
              <li > હોદો : <i class="">આ.શિ.</i> </li>
              <li > લાયકાત : <i class="">P.T.C.</i></li>
              <li > વતન : <i class="">વંથલી જૂનાગઢ</i> </li>
              <li > જન્મ તા: <i class="">15-1-77</i> </li>
              <li > kha , dat , ta : <i class="">26-11-99</i> </li>
              <li > sa , da , ta : <i class="">21-06-05</i> </li>
              <li > ધોરણ : <i class="">1/2 પ્રજ્ઞા</i> </li>
            </ul>
            </p>
          </div>


          <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border rounded  mb-2">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class=" object-center h-full w-full" src="https://i.postimg.cc/wBZCpBKP/userlogo.png">
            </div>
            <p class="leading-relaxed mb-8">
            <ul class="text-gray-100">
              <li > નામ : <i class="">વર્ષાબેન ભાનુભાઇ અગ્રાવત</i></li>
              <li > હોદો : <i class="">આ.શિ.</i></li>
              <li > લાયકાત : <i class="">M.A , B.Ed</i></li>
              <li > વતન : <i class="">કેશોદ જૂનાગઢ</i></li>
              <li > જન્મ તા: <i class="">01-09-72</i></li>
              <li > kha , dat , ta : <i class="">--</i></li>
              <li > sa , da , ta : <i class="">21-06-05</i> </li>
              <li > ધોરણ : <i class="">ભાષા 3-4-5</i> </li>
            </ul>
            </p>

          </div>

          <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border rounded  mb-2">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class=" object-center h-full w-full" src="https://i.postimg.cc/d0Lbpyfr/maleuser.png">
            </div>
            <p class="leading-relaxed mb-8">
            <ul class="text-gray-100">
              <li > નામ : <i class="">જયેશભાઈ વાલાભાઇ વાળા</i> </li>
              <li > હોદો : <i class="">આ.શિ.</i></li>
              <li > લાયકાત : <i class="">B.Sc , B.Ed </i></li>
              <li > વતન : <i class="">માળીયા જૂનાગઢ</i></li>
              <li > જન્મ તા: <i class="">26-06-81</i></li>
              <li > kha , dat , ta : <i class="">15-12-04</i></li>
              <li > sa , da , ta : <i class="">04-04-17</i></li>
              <li > ધોરણ : <i class="">ગણિત 3-4-5</i> </li>
            </ul>
            </p>

          </div>
          <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border rounded  mb-2">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class=" object-center h-full w-full" src="https://i.postimg.cc/wBZCpBKP/userlogo.png">
            </div>
            <p class="leading-relaxed mb-8">
            <ul class="text-gray-100">
              <li > નામ : <i class="">મનીષાબેન યોગેશભાઈ મેહતા</i></li>
              <li > હોદો : <i class="">આ.શિ.</i></li>
              <li > લાયકાત : <i class="">P.T.C.</i></li>
              <li > વતન : <i class="">જૂનાગઢ જૂનાગઢ</i></li>
              <li > જન્મ તા: <i class="">12-12-87</i></li>
              <li > kha , dat , ta : <i class="">26-04-10</i></li>
              <li > sa , da , ta : <i class="">23-02-19</i> </li>
              <li > ધોરણ : <i class="">આસપાસ 3-4-5</i> </li>
            </ul>
            </p>

          </div>
          <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border rounded  mb-2">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class=" object-center h-full w-full" src="https://i.postimg.cc/d0Lbpyfr/maleuser.png">
            </div>
            <p class="leading-relaxed mb-8">
            <ul class="text-gray-100">
              <li > નામ : <i class="">નવીનભાઈ અરજણભાઇ જોર</i></li>
              <li > હોદો : <i class="">આ.શિ.</i></li>
              <li > લાયકાત : <i class="">B.Sc , B.Ed</i></li>
              <li > વતન : <i class="">માળીયા જૂનાગઢ</i></li>
              <li > જન્મ તા: <i class="">31-05-71</i></li>
              <li > kha , dat , ta : <i class="">20-11-98</i></li>
              <li > sa , da , ta : <i class="">14-08-12</i> </li>
              <li > ધોરણ : <i class="">ગણિત વિજ્ઞાન 6-7-8</i></li>
            </ul>
            </p>


          </div>
          <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border rounded  mb-2">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class=" object-center h-full w-full" src="https://i.postimg.cc/wBZCpBKP/userlogo.png">
            </div>
            <p class="leading-relaxed mb-8">
            <ul class="text-gray-100">
              <li > નામ : <i class="">જ્યોત્સ્નાબેન પરબતભાઇ કાલરીયા</i></li>
              <li > હોદો : <i class="">આ.શિ.</i></li>
              <li > લાયકાત : <i class="">B.A ,B.Ed</i></li>
              <li > વતન : <i class="">વંથલી જૂનાગઢ</i></li>
              <li > જન્મ તા: <i class="">01-06-71</i></li>
              <li > kha , dat , ta : <i class="">---</i></li>
              <li > sa , da , ta : <i class="">19-06-12</i> </li>
              <li > ધોરણ : <i class="">ભાષા 6-7-8</i> </li>
            </ul>
            </p>


            {{!-- git remote add origin "http://github.com/madhakuday/badodar-school-project.git" --}}

          </div>
          <div class="p-4 md:w-1/3 sm:mb-0 mb-6 border rounded  mb-2">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class="object-center h-full w-full" src="https://i.postimg.cc/d0Lbpyfr/maleuser.png">
            </div>
            <p class="leading-relaxed mb-8">
            <ul class="text-gray-100">
              <li > નામ : <i class="">પ્રવીણભાઈ ગોવાભાઈ મહિડા</i></li>
              <li > હોદો : <i class="">આ.શિ.</i></li>
              <li > લાયકાત : <i class="">B.A ,B.Ed</i></li>
              <li > વતન : <i class="">વંથલી જૂનાગઢ</i></li>
              <li > જન્મ તા: <i class="">20-07-70</i></li>
              <li > kha , dat , ta : <i class="">14-05---</i></li>
              <li > sa , da , ta : <i class="">01-09-12</i> </li>
              <li > ધોરણ : <i class="">સા.વી. 6-7-8</i> </li>
            </ul>
            </p>

          </div>




        </div>
      </div>
    </section>




  </div>
  {{>footer}}
  {{>script}}

</body>

</html>